*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }
/* From App */
nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #11191e;
}

.navbar {
  background-color: rgb(238, 240, 255);
}
.nav-item:hover .nav-link {
    color: #0f29ef; /* Change text color to blue */
    text-shadow: 0 0 10px #3c50c1;

} /* Add text shadow to create the glowing effect */
/* Footer */
footer{
    background-color: rgb(238, 240, 255);
}
.icon {
    margin: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  .icons {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
  }
  icon:hover {
    background-color: lightblue; /* Change the background color to lightblue on hover */
  }

  .icon svg {
    fill: black; /* Set default fill color for SVG icons */
  }

  .icon:hover svg {
    fill: blue; /* Change the fill color to blue on hover */
  }

/* Logo */
img[alt='logo'] {
  width: 5rem;
  aspect-ratio: 1/1;
}
/* Landing page */


#view {
  animation-name: text;
  animation-duration: 5s;
  animation-iteration-count: calc(1);
}

#view1 {
  font-size: 60px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  color: rgb(44, 9, 237);
  padding-bottom: 5px;
}

#view2 {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

@keyframes text {
  from {
    margin-top: 400px;
  }

  to {
    margin-top: 0px;
  }
}
h1{
    font-family: Anton;
    margin-top: 200px;
}


@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    h1 {
        margin-top: 100px; /* Decrease margin for smaller screens */
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 300px) {
    /* Further adjustments for extra small screens */
    h1 {
        margin-top: 50px; /* Further decrease margin for extra small screens */
        font-size: 1.5rem; /* Further adjust font size for extra small screens */
    }
}

.animate {
  font-family: 'Anton';
  background-image: linear-gradient(
    -225deg,
    #e8c5ec 0%,
    #0a0592 29%,
    #41b4e9 67%,
    #e8c5ec 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

img {
  width: 350px;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: calc(1);
}
#one {
  animation-timing-function: ease;
  width: 250px;
}
/* About */
@media screen and (width < 700px) {
  .about-content {
    font-style: italic;
    /* color: antiquewhite; */
    overflow-y: scroll;
    height: 20rem;
    scroll-snap-type: y mandatory;
  }
}
.circular-image {
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.circular-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.circular-image:hover img {
    transform: scale(1.1);
}


  .timeline {
    margin: 20px auto;
    width: 80%;
  }
  
  .event {
    display: flex;
    margin-bottom: 30px;
  }
  
  .date {
    width: 120px;
    padding: 10px;
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  .event p {
    margin-left: 10px;
  }
  
  .event p:first-child {
    margin-top: 0;
  }
  
  .event p:last-child {
    margin-bottom: 0;
  }
  
.card {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgb(51, 5, 188);
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card-front {
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  .card-back {
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }
  @media (max-width: 576px) {
    p.text-sm {
      font-size: 14px;
    }
  }
  .card-text {
    margin: 2rem;
  
  }
.small-font {
    font-size: 0.75rem; /* Adjust the font size as needed */
}




  /* Projects */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-project {
    width: 100%; /* Make the image fill the entire width of the card */
    height: 100%; /* Make the image fill the entire height of the card */
    object-fit: cover; /* Ensure the image covers the entire area of the card */
    flex: 0 1 calc(30% - 20px);
    margin: 10px;
    box-sizing: border-box;    
  }
  
  .card-img-top {
    max-width: 100%;
    min-height: auto;
  }
  .card-title-project {
    font-style: italic;
    color: antiquewhite;
  }
  .card-text-project {
    font-style: italic;
    color: antiquewhite;
  }
  .card-body {
    text-align: center; /* Optional: Center the text within the card body */
  }
  
  .btn {
    margin-top: 10px; /* Optional: Adjust the spacing between the buttons and text */
  }
  
  @media (max-width: 768px) {
    .card {
      flex: 0 1 calc(45% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .card {
      flex: 0 1 calc(100% - 20px);
    }
  }
/* References */
    .slideshow-container {
        max-width: 600px;
        position: relative;
        margin: auto;
    }

    .testimonial {
        display: none;
        text-align: center;
        font-style: italic;
        margin-bottom: 3rem;
    }

    img {
        max-width: 100%;
        height: auto;
        /* border-radius: 50%; */
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
 

    
    @media screen and (width < 700px) {
        .testimonial-content {
          overflow-y: scroll;
          height: 10rem;
          scroll-snap-type: y mandatory;
        }
      }
/* Contact */

.form-label {
    font-style: italic;
    color: rgb(27, 41, 196);
  }
  
  .text {
    font-style: italic;
    color: rgb(41, 26, 215);
  }



  /* .card {
    width: 50px;
    height: 50px; 
    margin-bottom: 20px; 
} */

/* .card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;

@media (max-width: 576px) {
    .card {
        width: 100%;
        height: auto;
    }
}
} */
.card img {
    width: 50px; /* Set width of the image */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.5;
    @media (max-width: 576px) {
        .card {
            width: 100%;
            height: auto;
        }
    } /* Set opacity to make the image semi-transparent */
}

.card img:hover {
    opacity: 1; /* Increase opacity on hover */
}
